<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Grade.pr</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="shortcut icon" type="image/svg" href="/assets/favicon.svg" />

        <!--  Bootstrap styles  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Custom styles -->
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <!--  TODO: move project name into separate variable  -->
    <header id="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
        <h5>
            <a class="my-0 mr-md-auto font-weight-normal" href="/">Grade.pr</a>
        </h5>
    </header>
    <div class="container">

        <h1 class="display-5 text-center">Journal</h1>
        <p class="lead text-center">Discipline: Artifical inteligence</p>
        <p class="lead text-center">Lecturer: Test A.P. </p>

        <table id="student-list" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student</th>
                    <th scope="col">Score</th>
                    <th scope="col">Score</th>
                    <th scope="col">Score</th>
                    <th scope="col">Score</th>
                    <th scope="col">Score</th>
                    <th scope="col">Score</th>
                    <th scope="col">Score</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <th scope="row" th:utext="${student.id}">...</th>
                    <td th:utext="${student.name}">...</td>
                    <td>10</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>7</td>
                    <td>-</td>
                    <td>17</td>
                </tr>
<!--                <tr th:each="score : ${scores}">
                    <th scope="row" th:utext="${score.id}">...</th>-->
                    <!--<td th:utext="${score.student_id}">...</td>-->
                    <!--<td th:utext="${score.assessment}">...</td>-->
<!--                    <td>-</td>
                    <td>10</td>
                    <td>4</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>24</td>
                </tr>-->
                <!--
                <tr>
                    <th scope="row">3</th>
                    <td>John P.K.</td>
                    <td>10</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>21</td>
                    <td>-</td>
                    <td>-</td>
                    <td>31</td>
                </tr>-->
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <a class="text-muted mb-0" href="/">© Project.Pr</a>
            <p class="text-muted mb-0">All Rights Reserved</p>
        </div>
    </footer>

<!--    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="submit" value="Otpravit'">
    </form>-->
    
</html>